@import url('https://fonts.google.com/specimen/Nanum+Gothic');

.content {
    max-width: 1600px;
    margin: 0 auto;
 }

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 0;
    
    
}
.home-title{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    text-align: center;

}
.rivers-card {
    text-align: center;
    margin: 50px auto;
    width: 60%;
}
.camping-card {
    text-align: center;
    margin: 50px auto;
    width: 60%;   
}
.rapids-card  {
    text-align: center;
    margin: 50px auto;
    width: 60%;
}
.msg   {
    text-align: center;
    width: 100%;

}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#background {
    height: 725px;
    width: 100%;
    display: none;
}
body {
    background-color: #f1faee;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 300px auto;
}
nav a:hover {
    background-color:blue;
}
.msg {
    background-color:#caf0f8;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    display: block;
    margin: 0 auto;
}
footer {
    background-color:#48cae4;
    padding: 25px, 50px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.book:hover {
    background-color:#48cae4;
    text-align: center;
    
}

.join:hover {
    background-color:#48cae4;
}
nav a:hover {
    background-color: #48cae4;
    color: #d9c2a3;
    
}    

.icon {
    width: 120px;
    padding-top: 10px;
} 
#hero-img {
    width: 1500px;
    
}
nav a {
    text-align: center;
    color: #03045e;
    text-decoration: none;
    padding: 15px;
    font-size: 1. 1em;
    display: block;
}
h1 {
    color:#03045e;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em 0em;
} 
h2 {
    color:#03045e;
    margin: 0;
}
h3 { 
    color:#03045e;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h4{
    color:#03045e; 
    text-align: center;
}
h5 {
    color:#03045e;
} 
h6{
    color:#03045e;
} 
footer p {
    text-size: 1.2em;
}   
 
footer p a:hover {
    text-decoration: underline;
}   
nav {
    background-color: #48cae4;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
} 
.join {
    font-size: 18px;
    padding: 35px;
    margin: 50px;
    border-radius: 5px;
} 

.book {
    font-size: 18px;
    padding: 15px;
    margin-top: 50px;
    border-radius: 5px;
    
}
.social {
    padding-top: 15px;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
main section img {
    box-sizing:
    border-box;
}
p {
    line-height: 1.5;
}

#hero {
    display: block;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 0;
    height: auto;
    text-align: center;

    
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg h4 {
    color: white;
    display: none;
}


.mountains {
    width: 80%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    display: block;
    margin: 0 auto;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.home-grid {
    display: block;
    height: auto;
}
     
